.demo-page {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 100vh;
    margin: 0 auto;
}

.demo {
    width: 100%;
    height: 100vh;
    background: #E5E8E7;
}

.demo-strip {
    background: #1E96D3;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.demo-header {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 4em;
    color: #FBFBFB;
}

.demo-qr {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 3px;
    border-color: gray;
    border-style: dashed;
    padding: 10px;
}

.demo-field {
    width: 24rem;
    margin: 0 auto;
}

/*.demo-email {
	width: 50%;
	font-size: 1.5em;
	font-weight: normal;
	border-width: 1.5px;
	border-color: rgb(200, 200, 200);
	border-style: solid;
	border-radius: 3px;
	padding: 0.2em;
	display: block;
	margin: auto;
	color: black;
	outline: none;
}*/

.demo-buttons {
    display: flex;
    justify-content: center;
}

/*.demo-buttons button {
	font-size: 1.5em;
	width: 48%;
	background-color: rgb(200, 200, 200);
	border-width: 1px;
	border-radius: 3px;
	border-color: rgb(180, 180, 180);
	border-style: solid;
	outline: none;
}*/

#button-group button:active {
    background-color: rgb(180, 180, 180);
    color: white;
}